<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 d-flex justify-content-center align-items-center">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>{{ nombreUsuario }}</mat-card-title>
            <mat-card-subtitle>{{ emailUsuario }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Edad:</strong> {{ edadUsuario }}</p>
            <p><strong>Género:</strong> {{ generoUsuario }}</p>
            <!-- Otros detalles del perfil -->
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">Editar Perfil</button>
            <button mat-button color="warn">Eliminar Cuenta</button>
            <button mat-button color="warn" (click)="cerrarSesion()">Cerrar Sesión</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  